<div class="container">
  <h1>
    <a href="/">STARWARS</a>
  </h1>
  <div class="float-right">
    <a href="/"><i class="fa fa-search" aria-hidden="true"></i> BUSCADOR</a>
  </div><br>
  <hr>
  <div class="row">
    <div class="col-md">
      <a routerLink="/">
        <h3>Peliculas</h3>
      </a>
    </div>
    <div class="col-md">
      <a routerLink="/personajes">
        <h3>Personajes</h3>
      </a>
    </div>
    <div class="col-md">
      <a routerLink="/starships">
        <h3>Starships</h3>
      </a>
    </div>
    <div class="col-md">
      <a routerLink="/especies">
        <h3>Especies</h3>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
  </div>
</div>
