<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h4>Ficha tecnica</h4>
      <hr>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Director</td>
            <td>{{film.director}}</td>
          </tr>
          <tr>
            <td>Productor</td>
            <td>{{film.producer}}</td>
          </tr>
          <tr>
            <td>Fecha de lanzamiento</td>
            <td>{{film.release_date}}</td>
          </tr>
          <tr>
            <td>Planetas</td>
            <td>
              <ul>
                <li *ngFor="let planet of planets">
                  <a routerLink="/{{planet.url}}">
                    {{planet.name}}
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Personajes</td>
            <td>
              <ul>
                <li *ngFor="let character of characters">
                  <a routerLink="/{{character.url}}">
                    {{character.name}}
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md" *ngIf="film else loading">
      <a routerLink="/{{film.url}}" style="text-decoration : none; color : #000;">
        <h2>{{ film.title }}</h2>
        <p style="text-align: justify;font-family: monospace;">{{ film.opening_crawl }}</p>
        <img src="{{film.image}}" class="img-fluid" alt="Responsive image">
      </a>

    </div>
  </div>
</div>
<ng-template #loading></ng-template>
