<app-header></app-header>
<div class="container">
    <div class="row">
        <div *ngFor="let specie of species" class="col-md-6">
            <div class="row">
                <div class="col-md" style="padding-bottom: 6%;">
                    <a routerLink="{{specie.url}}" style="text-decoration : none; color : #000;">
                        <p style="font-size: 18px;">{{specie.name}}</p>
                        <img src="{{specie.image}}" class="img-fluid img-height">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>